main,
header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#studentInfo, th, td {
    border-collapse: collapse;
    border: 1px solid;
    padding: 8px;
}

#buttonAdd {
    margin-top: 30px;
}

#search {
    margin-bottom: 15px;
}

#searchInput{
    width: 300px;
}